Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - cifmw-data-plane-adoption-osp-17-to-extracted-crc: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/*
              - ^devsetup/standalone/*
              - ^Makefile
              - ^zuul.d/projects.yaml
        - cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph: *adoption_vars

CRC NW Allow setting IP lease time
  devsetup/Makefile
  devsetup/scripts/interfaces-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

devsetup remove adoption scenario mentions
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/standalone/net_config.j2
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Adding support for adoption scenario 1
  Makefile
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/standalone/net_config.j2
  scripts/gen-metallb-config.sh
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Remove Adoption references
  Makefile
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Use DataPlaneService.DataSources
  scripts/gen-nova-custom-dataplane-service.sh
Due: install-yamls-crc-podified-edpm-baremetal

Rename OSDPS play to playbookContents
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal

[DNM] Test job hash issue
  scripts/gen-netatt.sh
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Ensure there is only one metallb controller manager running
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

remove creation of custom nova dataplane service
  scripts/gen-nova-custom-dataplane-service.sh
Due: install-yamls-crc-podified-edpm-baremetal

Revert "Use DataPlaneService.DataSources"
  scripts/gen-nova-custom-dataplane-service.sh
Due: install-yamls-crc-podified-edpm-baremetal

add compat code for using datasouces
  scripts/gen-nova-custom-dataplane-service.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add env var to select nodes for 'make nncp'
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Deploy dataplane from openstack-operator
  Makefile
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
  scripts/gen-nova-custom-dataplane-service.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Remove reference to dataplane_cleanup target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Cleanup dataplane-operator references
  Makefile
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add retries to NNCP deployment
  Makefile
  scripts/retry_make_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Wait for other operators to be ready
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

[devsetup] Assign IP by MAC not by hostname
  devsetup/scripts/interfaces-setup-cleanup.sh
  devsetup/scripts/interfaces-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Fix: devsetup's crc_scrub make target
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Makefile: remove dataplane operator reference
  Makefile
  scripts/clone-operator-repo.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

[dev-setup] allow configure crc with http/https proxy
  devsetup/Makefile
  devsetup/README.md
  devsetup/scripts/crc-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Fix dataplane prep targets
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Ensure repo is not available before pulling
  scripts/clone-operator-repo.sh
Due: install-yamls-crc-podified-edpm-baremetal

bump kuttl to 0.17.0
  devsetup/roles/download_tools/defaults/main.yaml
Due: none

Clone openstack-operator repo during prepare calls
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add config for two more compute nodes in devsetup/tripleo for adoption
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/config-download.yaml
  devsetup/tripleo/initial-ceph.conf
  devsetup/tripleo/overcloud_services.yaml
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph
