Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

Add option to enable Octavia in standalone
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Optionally disable Barbican and Manila
  devsetup/Makefile
  devsetup/scripts/standalone.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add config-download-networker for networker multinode adoption CI
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/config-download-networker.yaml
  devsetup/tripleo/overcloud_roles.yaml
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow control of tlsEnabled for OpenStackDataplaneNodeSet
  Makefile
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow to specify how many test instances to deploy
  devsetup/Makefile
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Increase DATAPLANE_TIMEOUT
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Remove the hardcoded dataplane secret
  devsetup/scripts/gen-ansibleee-ssh-key.sh
Due: install-yamls-crc-podified-edpm-baremetal

fix edpm bgb network kustomize
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow configure edpm_extra_mounts for nova shared storage
  Makefile
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

[devsetup] allow configure nfs server on host
  .ansible-lint
  devsetup/Makefile
  devsetup/nfs.yaml
  devsetup/roles/nfs_server/defaults/main.yaml
  devsetup/roles/nfs_server/tasks/main.yaml
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Keep Octavia disabled by default on 17.1 deployments
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Allow control on when telemetry is deployed
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Fix IP_ADRESS_SUFFIX for multinode
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node.sh
  devsetup/scripts/standalone-sync.sh
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add FIRSTBOOT_EXTRA for EDPM node gen script
  devsetup/Makefile
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add ${REDHAT_OPERATORS} var
  Makefile
  README.md
  scripts/gen-olm.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add manila_cleanup to cleanup list
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Make metallb_cleanup during 'make cleanup'
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix edpm_compute target
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add OVNMetadataAgent service
  devsetup/tripleo/overcloud_roles.yaml
Due: none

[edpm_deploy_instance] Update public subnet allocation pool
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal
