Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

Default to Centos Stream 10 for devsetup edpm nodes
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add $EDPM_COMPUTE_NETDEV for setting edpm interface name
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add a new openstack_versions_master make target
  Makefile
  README.md
  scripts/fetch-image-digests.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add gated OLM upgrades: manual InstallPlan approval + approval target
  Makefile
  scripts/approve-installplan.sh
  scripts/gen-olm.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add Aetos password to osp-secret
  Makefile
  devsetup/Makefile
  scripts/gen-input-kustomize.sh
  scripts/gen-secrets.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add DATAPLANE_USE_PARALLEL_EXECUTION to run EDPM services in parallel
  Makefile
  scripts/gen-edpm-baremetal-kustomize.sh
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove privileged namespace labels from AnsibleEE key setup
  devsetup/scripts/gen-ansibleee-ssh-key.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add openstack_assistant deployment target
  Makefile
  scripts/create-openstack-assistant.sh
Due: install-yamls-crc-podified-edpm-baremetal

bump opm to match version in CI
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: none

[scripts/fetch-image-digest] Add option to render kustomize file
  Makefile
  scripts/fetch-image-digests.sh
Due: install-yamls-crc-podified-edpm-baremetal

Wait for webhook certificate secrets in openstack_init
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Support configuring the designate DNS control plane as an overlay network
  Makefile
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

README: Use GHFM alerts
  README.md
Due: none

README: Remove use of bullet points
  README.md
Due: none

README: Make use of -C opt
  README.md
Due: none

Remove NETWORK_ISOLATION
  AGENTS.md
  Makefile
  README.md
Due: install-yamls-crc-podified-edpm-baremetal

Fix missing operator cleanup in kuttl targets
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Set KernelDisableIPv6 to 1 in adoption devsetups
  devsetup/tripleo/overcloud_services.yaml.j2
  devsetup/tripleo/overcloud_services_cell.j2
Due: none

Add openstack_assistant deployment target
  Makefile
  README.md
  scripts/create-openstack-assistant.sh
Due: install-yamls-crc-podified-edpm-baremetal
