Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - cifmw-data-plane-adoption-osp-17-to-extracted-crc: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/*
              - ^devsetup/standalone/*
              - ^Makefile
              - ^zuul.d/projects.yaml
        - cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph: *adoption_vars

Clean chassis from OVN when deleting EDPM nodes
  devsetup/scripts/common.sh
  devsetup/scripts/edpm-node-cleanup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Validate community marketplace
  Makefile
  scripts/validate-marketplace-okd.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add $EDPM_IMAGE_URL to gen-edpm-node.sh
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Adding install_yamls label
  devsetup/scripts/edpm-compute-baremetal.sh
  devsetup/scripts/ipv6-nat64/sno.sh
  scripts/gen-ceph-kustomize.sh
  scripts/gen-edpm-baremetal-kustomize.sh
  scripts/gen-edpm-kustomize.sh
  scripts/gen-input-kustomize.sh
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Wait for the nodeset before applying the deploment
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

remove service-specific DatabasePasswords
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Set OSP17 TunedProfileName to throughput-performance matching OSP18
  devsetup/tripleo/overcloud_roles.yaml
Due: none

[DNM] Debug openstack-operator kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Allows to filter what we install from download_tools
  devsetup/roles/download_tools/tasks/main.yaml
Due: none

[crc_bmo_setup] Let route config be optional
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

edpm: Delete compute service if it exists
  devsetup/scripts/common.sh
  devsetup/scripts/edpm-node-cleanup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Update makefile to pass installation tags
  devsetup/Makefile
  devsetup/download_tools.yaml
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Remove metallb-operator validation for OKD
  scripts/validate-marketplace-okd.sh
Due: install-yamls-crc-podified-edpm-baremetal

Parameterize the dataplane deployment name
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Repo setup play instead of playbook
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Tripleo - fix service_net_map_override
  devsetup/tripleo/network_data.yaml
Due: none

Updating README to highlight question of necessary resources, fixing typo as well
  README.md
Due: none

Enable chassis as gw for standalone adoption jobs
  devsetup/standalone/role.j2
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add ceph option for deployment with 1 compute
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/config-download.yaml
  devsetup/tripleo/initial-ceph.conf
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add telemetry services to wallaby deployment
  devsetup/standalone/openstack.sh
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Increase default NNCP_TIMEOUT
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Allow setting ntp server for tripleo adoption
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/tripleo_install.sh
  devsetup/tripleo/undercloud.conf.j2
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

CRC NW Allow setting IP lease time
  devsetup/Makefile
  devsetup/scripts/interfaces-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph
