Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

Add support to setup network observability
  Makefile
  scripts/gen-lokistack.sh
  scripts/gen-netobserv.sh
  scripts/gen-olm-loki.sh
  scripts/gen-olm-netobserv.sh
Due: install-yamls-crc-podified-edpm-baremetal

Move metallb after nncp setup
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add make target for openstack update prepare
  MINOR_UPDATE.md
  Makefile
  README.md
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add new make targets and scripts for update split services
  Makefile
  scripts/openstack-update-services.sh
  scripts/openstack-update-system.sh
Due: install-yamls-crc-podified-edpm-baremetal

Set MTU as per environment
  Makefile
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

DNM
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

[fr3] set fr3 catalog tag
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add more devices to the EDPM VMs
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Wait for condition=MinorUpdateAvailable=True
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[edpm_compute]Make the addition NVME and IGB optional
  devsetup/README.md
  devsetup/scripts/edpm-node-cleanup.sh
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fixed tabs and whitespace
  retry_nncp.sh
Due: none

Updated NNCP_MAX_WAITING from 20 to 60
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Last push was wrong version
  retry_nncp.sh
  scripts/retry_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Improved tracking of states - inproved handling of FailedToConfigure
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Added retry_nncp.sh
  Makefile
  scripts/retry_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fixed NO_RESPONSE_MAX
  scripts/retry_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Added gen-nncp-dns.sh to generate
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Updated checking code
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Testing changes to nncp plumbing
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Set upstream DNS server in coreDNS instead of resolve.conf
  Makefile
  scripts/gen-nncp-dns.sh
  scripts/gen-nncp.sh
  scripts/retry_make_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Updated with latest fix
  Makefile
  scripts/retry_nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix typos in code
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Configure EDPM physical interface with ovn-egress-iface=true
  devsetup/scripts/standalone.sh
  devsetup/standalone/net_config.j2
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Disable upstream DNS when NNCP_DNS_SERVER is explicitly empty
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

LVMS: Update default lvms-operator namespace
  scripts/gen-lvms-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

feat: make bash container image configurable for storage operations
  Makefile
  scripts/storage_apply.sh
Due: install-yamls-crc-podified-edpm-baremetal

Expose IPA LDAP ports
  devsetup/standalone/openstack.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

bump golang to 1.23
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: none

Fix comment on update_services to allow parsing by CI framework
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

bump golang to 1.24
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: none

Use ceph playbook located in hooks if available
  devsetup/tripleo/ceph.sh
Due: none

Adds workflow to trigger branch sync
  .github/workflows/sync_branches_with_ext_trigger.yml
Due: none

Add openstack_crds requirement to glance_kuttl target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix glance kuttl target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add Barbican HSM custom image support
  Makefile
  devsetup/standalone/openstack.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

[telemetry_kuttl] Add dependency on ovn operator
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal
