Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

cifmw-data-plane-adoption-osp-17-to-extracted-crc:
  dependencies:
  - openstack-k8s-operators-content-provider

cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph:
  dependencies:
  - openstack-k8s-operators-content-provider

Add config for two more compute nodes in devsetup/tripleo for adoption
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/config-download.yaml
  devsetup/tripleo/initial-ceph.conf
  devsetup/tripleo/overcloud_services.yaml
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add multi-cell tripleo setup for adoption devel
  devsetup/Makefile
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/config-download-multistack.j2
  devsetup/tripleo/net_config.j2
  devsetup/tripleo/network_data_cell.j2
  devsetup/tripleo/overcloud_roles.yaml
  devsetup/tripleo/overcloud_services_cell.j2
  devsetup/tripleo/tripleo_install.sh
  devsetup/tripleo/undercloud.conf.j2
  devsetup/tripleo/vips_data_cell.j2
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add openstack_update_run target
  Makefile
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

[DNM] Test removing labels from Namespace
  scripts/gen-namespace.sh
Due: install-yamls-crc-podified-edpm-baremetal

Just a comment.
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Lets tweak the files: match for data plane jobs install_yamls gate
  zuul.d/projects.yaml
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Fix fake update and get dataplane_dep right when there are multiple.
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Do not require networking for virt-customize
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Revert "Pin Podman for Wallaby Standalone deployment"
  devsetup/scripts/standalone.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Rename the data plane adoption jobs for new naming scheme
  zuul.d/projects.yaml
Due: cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

adoption: Remove podman pin from multinode setup
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Set finalizers to null before delete
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Remove unused kustomize rules for rabbitmq ipv6
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

ipv6: fix dep install, use host-passthrough cpu mode
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Update Prow root image for install_yamls repo
  .ci-operator.yaml
Due: none

Support for multiple nodeset for the update script.
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add state logs during update.
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Install tempest while depoying required packages for tripleo and standalone
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Add option to enable Octavia in standalone
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, cifmw-data-plane-adoption-osp-17-to-extracted-crc, cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  cifmw-data-plane-adoption-osp-17-to-extracted-crc: any of: ^devsetup/Makefile, ^devsetup/scripts/*, ^devsetup/standalone/*, ^Makefile, ^zuul.d/projects.yaml
  cifmw-data-plane-adoption-osp-17-to-extracted-crc-minimal-no-ceph: any of: ^devsetup/Makefile, ^devsetup/scripts/*, ^devsetup/standalone/*, ^Makefile, ^zuul.d/projects.yaml
