Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

adoption-standalone-to-crc-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

adoption-standalone-to-crc-no-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

Adding support for adoption scenario 1
  Makefile
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/net_config.j2
  devsetup/tripleo/overcloud_net_config_scenario_a.j2
  scripts/gen-metallb-config.sh
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Enable heat in standalone by default
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/standalone/openstack.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Refactor common EDPM node code into gen-edpm-node-common.sh
  devsetup/scripts/gen-edpm-node-common.sh
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add gen-edpm-node-bootc.sh for creating bootc based nodes
  devsetup/Makefile
  devsetup/scripts/gen-edpm-node-bootc.sh
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Increase OSD number for adoption / tempest
  devsetup/tripleo/ceph.sh
Due: none

Add missing external network for cell roles
  devsetup/tripleo/overcloud_roles.yaml
Due: none

tripleo: split network config control flags
  devsetup/Makefile
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/config-download-multistack.j2
  devsetup/tripleo/config-download.yaml.j2
  devsetup/tripleo/overcloud_services.yaml.j2
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Allow enabling monitoring for CRC
  devsetup/scripts/crc-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

[TripleO Deploy] Enable ssh from all network
  devsetup/tripleo/overcloud_services.yaml.j2
  devsetup/tripleo/overcloud_services_cell.j2
Due: none

Revert "Remove redis"
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add redis to designate_kuttl
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add watcher target to install_yaml
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[WIP] adoption scenario a route issue
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix openstack_deploy_prep target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Allow crc delete to fail
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Remove patching OSP as the package is released now
  devsetup/tripleo/tripleo_install.sh
Due: none

Add logically bound images
  devsetup/edpm/embedded-services/Containerfile
  devsetup/edpm/embedded-services/quadlets/ceilometer_agent_compute/ceilometer_agent_compute.image
  devsetup/edpm/embedded-services/quadlets/ceilometer_agent_compute/ceilometer_agent_compute.yaml
  devsetup/edpm/embedded-services/quadlets/iscsid/iscsid.image
  devsetup/edpm/embedded-services/quadlets/iscsid/iscsid.yaml
  devsetup/edpm/embedded-services/quadlets/logrotate_crond/logrotate_crond.image
  devsetup/edpm/embedded-services/quadlets/logrotate_crond/logrotate_crond.yaml
  devsetup/edpm/embedded-services/quadlets/multipathd/multipathd.image
  devsetup/edpm/embedded-services/quadlets/multipathd/multipathd.yaml
  devsetup/edpm/embedded-services/quadlets/nova_compute/nova_compute.image
  devsetup/edpm/embedded-services/quadlets/nova_compute/nova_compute.yaml
  devsetup/edpm/embedded-services/quadlets/ovn-controller/ovn_controller.image
  devsetup/edpm/embedded-services/quadlets/ovn-controller/ovn_controller.yaml
  devsetup/edpm/embedded-services/quadlets/ovn_metadata_agent/ovn_metadata_agent.image
  devsetup/edpm/embedded-services/quadlets/ovn_metadata_agent/ovn_metadata_agent.yaml
  devsetup/edpm/embedded-services/quadlets/systemd/service-template.kube
Due: none

Update nodeset verbosity
  devsetup/edpm/config/ansible-ee-env.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Fix tag for freeipa-server for TLS-e adoption
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Support changing dataplane scenario directory
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Support post gen edpm kustomize scripts
  Makefile
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Devsetup: Remove dhcp entry even without VM
  devsetup/Makefile
  devsetup/scripts/interfaces-setup-cleanup.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

[DNM] Bump ipa image in adoption script and make it a parameter
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Recommending openstack_wait_deploy target
  README.md
Due: none

Clarifying that NETWORK_ISOLATION is set to true by default
  README.md
Due: none

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  adoption-standalone-to-crc-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
  adoption-standalone-to-crc-no-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
