Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

Bump BMO to release-0.12 and IPA/Ironic to matching versions
  .ansible-lint
  .pre-commit-config.yaml
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add wait condition for openstackclient pod
  scripts/cleanup-edpm_deploy.sh
Due: install-yamls-crc-podified-edpm-baremetal

Bump ansible-lint version
  .pre-commit-config.yaml
Due: none

Remove incorrect rule skip from ansible-lint conf
  .ansible-lint
  devsetup/roles/nfs_server/tasks/main.yaml
Due: none

Bump Go to 1.26.3
  .ci-operator.yaml
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: none

Bump BMO to release-0.12 and IPA/Ironic to matching versions
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[openstack_init] Wait for openstack CR to be available
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add prefix to nfs_server role variables
  devsetup/nfs.yaml
  devsetup/roles/nfs_server/defaults/main.yaml
  devsetup/roles/nfs_server/tasks/main.yaml
Due: none

Add prefix to download_tools role variables
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/roles/download_tools/tasks/main.yaml
  devsetup/vars/default.yaml
Due: none

Remove var-naming rule from ansible-lint skip
  .ansible-lint
Due: none

Replace hardcoded passwords and secrets with dynamic generation
  .gitignore
  Makefile
  README.md
  devsetup/Makefile
  devsetup/README.md
  devsetup/ceph/deploy.sh
  devsetup/scripts/bmaas/generate-nodes-yaml.sh
  devsetup/scripts/bmaas/sushy-emulator.sh
  devsetup/scripts/edpm-compute-baremetal.sh
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node-bootc.sh
  devsetup/scripts/gen-edpm-node.sh
  devsetup/scripts/ipv6-nat64/sno.sh
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
  scripts/gen-input-kustomize.sh
  scripts/gen-lokistack.sh
  scripts/gen-metallb-config.sh
  scripts/gen-secrets.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Suppress secret values from xtrace output in CI scripts
  scripts/gen-ceph-kustomize.sh
  scripts/gen-edpm-bmset-password-secret.sh
  scripts/gen-input-kustomize.sh
  scripts/mirror-registry-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Harden CRC storage Job: narrow hostPath and trim RBAC
  scripts/storage_apply.sh
  scripts/storage_common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove hardcoded PSA privileged enforcement and label-sync opt-out
  scripts/gen-namespace.sh
Due: install-yamls-crc-podified-edpm-baremetal

Workaround wrong nncp setting
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

sno.sh - do not skip TLS verfication
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal

Bump Fedora image in IPv6 SNO lab
  devsetup/scripts/ipv6-nat64/nat64_router.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add SHA256 checksum verification to all toolchain downloads
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/roles/download_tools/tasks/main.yaml
Due: none

Hide MySQL root password from process table and Make output
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Harden dev NFS exports: restrict access to known subnets
  devsetup/roles/nfs_server/defaults/main.yaml
  devsetup/roles/nfs_server/tasks/main.yaml
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Makefile targets for OpenStack Lightspeed operator
  Makefile
  README.md
  scripts/gen-olm-lightspeed.sh
Due: install-yamls-crc-podified-edpm-baremetal

fix: default to TLS certificate verification in scripts
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node.sh
  scripts/gen-lvms-kustomize.sh
  scripts/mirror-registry-ca.sh
  scripts/mirror-registry-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove system:unauthenticated image-puller binding
  scripts/mirror-registry-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use dedicated SA for ironic instead of default SA
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Use the relative path for `.secrets.env`
  README.md
Due: none

Use https over http for cirros image download
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use oc with /readyz endpoint for lightweight readiness check
  scripts/gen-lvms-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix SSH host-key verification in Ceph deploy script
  devsetup/ceph/deploy.sh
Due: none

Add KUTTL targets for openstack-lightspeed
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Pin BMAAS_SUSHY_EMULATOR_IMAGE to immutable tag <JIRA:OSPRH-33586>
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Update $CRC_URL
  devsetup/Makefile
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add a new openstack_versions_master make target
  Makefile
  README.md
  scripts/fetch-image-digests.sh
Due: install-yamls-crc-podified-edpm-baremetal

Pin RabbitMq PVC storage class via spec.persistence.storageClassName
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Also pin RabbitMq PVC storage size via spec.persistence.storage
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

[repo-setup] Add CentOS Stream 10 support for EDPM repo-setup service
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Add conditional Cyborg PCI simulator EDPM service
  Makefile
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_cyborg.yaml
  scripts/gen-edpm-custom-services.sh
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal
