Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

adoption-standalone-to-crc-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

adoption-standalone-to-crc-no-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

Allow skipping RDO repo setup
  Makefile
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Revert "Install metallb per default"
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Remove wallaby repo setup commands for stnadalone deployment
  devsetup/scripts/standalone.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Remove problematic DHCP interface configuration
  devsetup/scripts/interfaces-setup-cleanup.sh
  devsetup/scripts/interfaces-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add metallb into infra_prep
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix ContainerImageRegistryCredentials for tripleo
  .pre-commit-config.yaml
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal

Update openstack_kuttl target to support initialization resource
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

openstack_wait: call 'make openstack' dynamically
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix post deployment hook for /etc/hosts in multi-stack
  devsetup/tripleo/tripleo_install.sh
Due: none

Check for running replicas for get-operator-status.sh
  scripts/get-operator-status.sh
Due: install-yamls-crc-podified-edpm-baremetal

Make 'openstack_init' target be idempotent
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Only clone OpenStack operator repo when not already present
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add default generated AnsibleEE keys to .gitignore
  .gitignore
Due: none

Add openstack_crds_cleanup and openstack_patch_version target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Revert "Check for running replicas for get-operator-status.sh"
  scripts/get-operator-status.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix issue with rabbitmq operator status check
  scripts/get-operator-status.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add ability to deploy Openstack over IPv6 addressing on a standalone VM.
  devsetup/Makefile
  devsetup/scripts/gen-edpm-node-common.sh
  devsetup/scripts/ipv6-nat64/nat64_router.sh
  devsetup/scripts/standalone-sync.sh
  devsetup/scripts/standalone.sh
  devsetup/standalone/ceph.j2
  devsetup/standalone/deployed_network.j2
  devsetup/standalone/net_config.j2
  devsetup/standalone/network_data.j2
  devsetup/standalone/openstack.j2
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add internalapi routes for scenario A adoption
  Makefile
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add WatcherPassword to osp-secret
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

bootc cloud-init updates
  devsetup/scripts/gen-edpm-node-bootc.sh
Due: install-yamls-crc-podified-edpm-baremetal

Clarifying that NETWORK_ISOLATION is set to true by default
  README.md
Due: none

Adding note about need for PV adjustments
  README.md
Due: none

Recommending openstack_wait_deploy target
  README.md
Due: none

Ensure the openstacks crd exists in kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[OSPRH-13217] Remove OpenStack operator webhooks during 'make openstack_cleanup'
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Cleanup swift resources after glance kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

DNM test baremetal job with bootc image
  scripts/gen-edpm-baremetal-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add make openstack_init to devsetup readme
  devsetup/README.md
Due: none

Fix cephadm install when deploying an external ceph cluster
  devsetup/ceph/deploy.sh
Due: none

Temporary exclude libvirt/qemu-kvm builds to unblock CI
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  adoption-standalone-to-crc-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
  adoption-standalone-to-crc-no-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
