Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

adoption-standalone-to-crc-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

adoption-standalone-to-crc-no-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

Use xorrisofs instead of genisoimage
  devsetup/scripts/gen-edpm-node-bootc.sh
Due: install-yamls-crc-podified-edpm-baremetal

[scripts] Add CloudKitty password to openstack secret
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use ceph playbook located in hooks if available
  devsetup/tripleo/ceph.sh
Due: none

Add $BAREMETAL_OS_IMG
  Makefile
  scripts/gen-edpm-baremetal-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use BMO release-0.11 branch
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Implement passing over an additional env file
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

INJECT: rm line scripts/operator-deploy-resources.sh
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Revert: b4b965f95f7833775c6215d32e46ca8d71a07f9b
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Use BMO release-0.9 branch
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix openstack_crds Make target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Workaround wrong nncp setting
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[DNM] Check cs10 repos
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_reposetup.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Allow some customization of NetConfig VLAN IDs
  Makefile
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Apply workaround for crashing openshift-marketplace
  scripts/validate-marketplace.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use a job for image cleanup on operator uninstall
  Makefile
  scripts/cleanup_images_apply.sh
  scripts/cleanup_images_common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Update video models to VGA
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow customization of upstream DNS for IPv4
  Makefile
  scripts/gen-service-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add support for deploying designate in standalone
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

quote variables in shell conditionals
  devsetup/scripts/crc-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove yaml callback from configmap
  devsetup/edpm/config/ansible-ee-env.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Revert "Apply workaround for crashing openshift-marketplace"
  scripts/validate-marketplace.sh
Due: install-yamls-crc-podified-edpm-baremetal

Make bmo cleanup optioal with openstack cleanup
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

bump operator-sdk to 1.41.1
  .ci-operator.yaml
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
  zuul.d/projects.yaml
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Make barbican setting test case insensitive
  devsetup/standalone/openstack.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add Barbican HSM custom image support
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add support for custom environment files in deployments
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Migrate from Ceph demo pod to Rook based Ceph Tentacle deployment
  Makefile
  scripts/disk-setup.sh
  scripts/gen-ceph-kustomize.sh
  scripts/gen-rook-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

bump operator-sdk to 1.41.1
  .ci-operator.yaml
  Makefile
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
  zuul.d/projects.yaml
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add CRC disk provisioning job for CI environments
  Makefile
  scripts/gen-rook-crc-disk.sh
  scripts/gen-rook-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

add _KUTTLE_DIR to _kuttl_run targets
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Bump sdk version to v1.41.1
  devsetup/vars/default.yaml
Due: none

Remove content-provider sdk_version override
  zuul.d/projects.yaml
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

[telemetry] add certmanager as dependency to kuttl
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[telemetry] drop make wait on certmanager in telemetry_kuttl:
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add IPA image override to standalone and tripleo install scripts
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  adoption-standalone-to-crc-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
  adoption-standalone-to-crc-no-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
