Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

added note to use other images for compute nodes
  devsetup/README.md
Due: none

changed position of the note before the make edpm_compute step
  devsetup/README.md
Due: none

[update] Support passing AnsibleExtraVar to the update CR: kpatch.
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Refresh catalog-operator pod to avoid usage of cached csv version
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Allow the metal3 ironic image to be set
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add BAREMETAL_OS_IMG_TYPE for bootc deploy
  Makefile
  scripts/gen-edpm-baremetal-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

[telemetry] add certmanager as dependency to kuttl
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Support parallel execution of 'make openstack' pretargets
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add CloudKitty password to openstack secret
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

[openstack-update] Run update-ovn only if ovn in nodeset services
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow override of base URI for BMO IPA
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add support for custom environment files in deployments
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add support for additional heat environment files in adoption jobs
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Refactor openstack_kuttl targets so they can be run individually
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Remove Ollie from owners
  OWNERS
Due: none

Fix 'make openstack_crds' so it installs all OpenStack op CRDs
  scripts/openstack-crds.sh
Due: install-yamls-crc-podified-edpm-baremetal

Change IP_ADRESS_SUFFIX to IP_ADDRESS_SUFFIX
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node-common.sh
  devsetup/scripts/standalone-sync.sh
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Change default INTERFACE_MTU from 1500 to 1450
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/openstack.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add mirror registry support for disconnected testing
  Makefile
  README.md
  devsetup/Makefile
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/roles/download_tools/tasks/main.yaml
  scripts/mirror-registry-ca.sh
  scripts/mirror-registry-cleanup.sh
  scripts/mirror-registry-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Adds a note to document NVMe emulation host requirements
  devsetup/README.md
Due: none

Add test-operator KUTTL integration
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Run openstack_repo before make openstack_crds
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[update] Clear `customContainerImages` when patching `targetVersion`
  scripts/openstack-update-services.sh
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Drop rabbitmq-cluster-operator
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[update] Save and restore `customContainerImages` around `targetVersion` patch
  scripts/openstack-update-services.sh
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

Use upstream rabbitmq-cluster-operator only for infra_kuttl
  Makefile
  scripts/get-operator-status.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add macOS support to download_tools role
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/roles/download_tools/tasks/main.yaml
  devsetup/roles/download_tools/vars/Darwin.yaml
  devsetup/roles/download_tools/vars/RedHat.yaml
Due: none

Replace rabbitmq-cluster-operator with infra-operator RabbitMq CRD
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add optional sigstore policy creation for mirror registry
  README.md
  scripts/mirror-registry-setup.sh
Due: install-yamls-crc-podified-edpm-baremetal

Restore rabbitmq-cluster-operator in infra_kuttl target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Install cert-manager in the ovn-kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Make repo and branch configurable for repo-setup
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add $EDPM_COMPUTE_NETDEV for setting edpm interface name
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove references to Placement operator
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Allow override of BMO image
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Wait only on Running cert-manager pods during OLM install
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add AGENTS.md for agentic workflow support
  AGENTS.md
Due: none
