Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

zuul.d/jobs.yaml:

---
- nodeset:
    name: centos-9-crc-2-34-1-6xlarge
    nodes:
      - name: controller
        label: centos-9-stream-crc-2-34-1-6xlarge

# Bmaas deployment job with CRC and two bmaas compute nodes.
- job:
    name: install-yamls-crc-podified-edpm-baremetal
    parent: cifmw-crc-podified-edpm-baremetal
    nodeset: centos-9-crc-2-34-1-6xlarge
    files:
      - ^devsetup/Makefile
      - ^devsetup/edpm/config/*
      - ^devsetup/edpm/services/*
      - ^devsetup/scripts/*
      - ^devsetup/scripts/bmaas/*
      - ^devsetup/scripts/edpm-compute-bmaas.sh
      - ^devsetup/scripts/gen-ansibleee-ssh-key.sh
      - ^scripts/*
      - ^Makefile
    irrelevant-files: &openstack_if
      - .ci-operator.yaml
      - .ansible-lint
      - .gitignore
      - .yamllint
      - .pre-commit-config.yaml
      - LICENSE
      - OWNERS
      - .*/*.md

zuul.d/projects.yaml:

---
- project:
    name: openstack-k8s-operators/install_yamls
    github-check:
      jobs:
        - openstack-k8s-operators-content-provider
        - install-yamls-crc-podified-edpm-baremetal: &content_provider
            dependencies:
              - openstack-k8s-operators-content-provider
        - podified-multinode-edpm-deployment-crc: *content_provider
        - adoption-standalone-to-crc-ceph-provider: &adoption_vars
            dependencies:
              - openstack-k8s-operators-content-provider
            files:
              - ^devsetup/Makefile
              - ^devsetup/scripts/standalone.sh
              - ^devsetup/scripts/common.sh
              - ^devsetup/standalone/*
              - ^zuul.d/projects.yaml
        - adoption-standalone-to-crc-no-ceph-provider: *adoption_vars

Bump ipa image in adoption script and make it a parameter
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Fix missiing ifcfg device and bootproto in edpm gen
  devsetup/scripts/gen-edpm-node-common.sh
Due: install-yamls-crc-podified-edpm-baremetal

NNCP Set MTU for all VLANs
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Bump Ceph to Squid
  Makefile
  devsetup/ceph/deploy.sh
  scripts/gen-ceph-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add openstack_ga, openstack_crds_cleanup and openstack_deploy_update target
  Makefile
  scripts/get-stable-csv.sh
Due: install-yamls-crc-podified-edpm-baremetal

Adoption - Allow to deploy TripleO Manila with Ganesha
  devsetup/standalone/openstack.sh
  devsetup/tripleo/tripleo_install.sh
Due: adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Re remove ctlplane routes for ipv6
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add openstack_init target
  Makefile
  README.md
Due: install-yamls-crc-podified-edpm-baremetal

Add openstack_crds_cleanup and openstack_patch_version target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Adding note about need for PV adjustments
  README.md
Due: none

Restoring expansion in interface scripts
  devsetup/scripts/bmaas/attach-network.sh
  devsetup/scripts/bmaas/baremetal-bridge.sh
  devsetup/scripts/bmaas/generate-nodes-yaml.sh
  devsetup/scripts/bmaas/network-attachement-definition.sh
  devsetup/scripts/bmaas/sushy-emulator.sh
  devsetup/scripts/crc-setup.sh
  devsetup/scripts/interfaces-setup-cleanup.sh
  devsetup/scripts/interfaces-setup.sh
  devsetup/scripts/network-setup.sh
  scripts/gen-ceph-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Update Ceph container in TripleO for adoption
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
Due: install-yamls-crc-podified-edpm-baremetal

Update Ceph container in standalone for adoption
  devsetup/scripts/standalone.sh
  devsetup/standalone/ceph.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add tripleo params to config hugepages
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/hugepages.yaml
  devsetup/standalone/openstack.sh
  devsetup/standalone/role.j2
  devsetup/tripleo/hugepages.yaml
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Use specific glance config for octavia kuttl tests
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Make NNCP optional
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Add openstack_cleanup_all
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Restore nncp default
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

[WIP] adoption scenario a route issue
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix home user reference in tripleo install
  devsetup/scripts/tripleo.sh
Due: install-yamls-crc-podified-edpm-baremetal

Bump kuttl to 0.20.0
  devsetup/roles/download_tools/defaults/main.yaml
Due: none

Remove openstack_deploy_cleanup from openstack_init target
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Install metallb per default
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Update Federation Variable Names and Secrets
  Makefile
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add redhat dataplane service
  devsetup/edpm/services/dataplane_v1beta1_openstackdataplaneservice_redhat.yaml
Due: install-yamls-crc-podified-edpm-baremetal

NNCP Set MTU for all VLANs
  Makefile
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow using default images values for EDPM
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal
