Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

adoption-standalone-to-crc-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

adoption-standalone-to-crc-no-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

Extend allocation-pool for pub_sub
  devsetup/scripts/edpm-deploy-instance.sh
Due: install-yamls-crc-podified-edpm-baremetal

Remove labels on network attachments since they are not used
  scripts/gen-netatt.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add multi-cell tripleo setup for adoption devel
  devsetup/Makefile
  devsetup/scripts/common.sh
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/config-download-multistack.j2
  devsetup/tripleo/net_config.j2
  devsetup/tripleo/network_data_cell.j2
  devsetup/tripleo/overcloud_roles.yaml
  devsetup/tripleo/overcloud_services_cell.j2
  devsetup/tripleo/tripleo_install.sh
  devsetup/tripleo/undercloud.conf.j2
  devsetup/tripleo/vips_data_cell.j2
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Fix hostnamemap generation for HCI tripleo
  devsetup/tripleo/tripleo_install.sh
Due: none

bump golang to 1.21
  devsetup/roles/download_tools/defaults/main.yaml
  devsetup/vars/default.yaml
Due: none

Minor adjustments for devsetup tripleo multinode
  devsetup/scripts/common.sh
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/nova_noceph.yaml
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Total cleanup of all operator resources
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

NodeSet env vars
  scripts/gen-edpm-baremetal-kustomize.sh
  scripts/gen-edpm-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

[DNM] Check networker chassis
  devsetup/tripleo/overcloud_roles.yaml
  devsetup/tripleo/overcloud_services_cell.j2
Due: none

Pass NEUTRON_KUTTL_DIR to kuttl neutron env
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Fix ansible runner override
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Ensure EDPM nodes have a unique NVMe NQN
  devsetup/scripts/gen-edpm-node-bgp.sh
  devsetup/scripts/gen-edpm-node.sh
Due: install-yamls-crc-podified-edpm-baremetal

Deploy Rook operator
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Use BMO_BRANCH release-0.6
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Use stringData when creating root password secret
  scripts/gen-edpm-bmset-password-secret.sh
Due: install-yamls-crc-podified-edpm-baremetal

[DNM] Test edpm-update fix
  scripts/openstack-update.sh
Due: install-yamls-crc-podified-edpm-baremetal

docs: Explain that nat64_router.sh will require detaching from virsh
  devsetup/scripts/ipv6-nat64/README.md
Due: none

Enable set -x for ipv6 lab scripts
  devsetup/scripts/ipv6-nat64/nat64_router.sh
  devsetup/scripts/ipv6-nat64/network.sh
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal

sno.sh: remove volume on cleanup
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal

network.sh: don't fail when firewall-cmd cannot find nat64 zone
  devsetup/scripts/ipv6-nat64/network.sh
Due: install-yamls-crc-podified-edpm-baremetal

nat64_router.sh: don't fail when libvirt domain is started
  devsetup/scripts/ipv6-nat64/nat64_router.sh
Due: install-yamls-crc-podified-edpm-baremetal

Fix hostnamemap for multi-stack tripleo deploy
  devsetup/tripleo/overcloud_services_cell.j2
  devsetup/tripleo/tripleo_install.sh
Due: none

Revert "docs: Explain that nat64_router.sh will require detaching from virsh"
  devsetup/scripts/ipv6-nat64/README.md
Due: none

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  adoption-standalone-to-crc-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
  adoption-standalone-to-crc-no-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
