Repository openstack-k8s-operators/install_yamls: changes, and which Zuul jobs are due for each by the changed paths.
All: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

install-yamls-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal
  nodeset: centos-9-crc-2-34-1-6xlarge

adoption-standalone-to-crc-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

adoption-standalone-to-crc-no-ceph-provider:
  dependencies:
  - openstack-k8s-operators-content-provider

Adds bits to set domain and enable tlse for adoption multinode ci jobs
  devsetup/Makefile
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/config-download-networker.yaml.j2
  devsetup/tripleo/config-download.yaml.j2
  devsetup/tripleo/network_data.yaml.j2
  devsetup/tripleo/overcloud_roles.yaml
  devsetup/tripleo/overcloud_services.yaml.j2
  devsetup/tripleo/tripleo_install.sh
  devsetup/tripleo/undercloud.conf.j2
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

ipv6: explain how to set up resolved for ipv6 lab
  devsetup/scripts/ipv6-nat64/README.md
Due: none

sno.sh: don't use set -x when printing out next steps
  devsetup/scripts/ipv6-nat64/sno.sh
Due: install-yamls-crc-podified-edpm-baremetal

Adding support for adoption scenario 1
  Makefile
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/standalone/net_config.j2
  scripts/gen-metallb-config.sh
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Remove Adoption references
  Makefile
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal

devsetup remove adoption scenario mentions
  devsetup/Makefile
  devsetup/scripts/standalone.sh
  devsetup/scripts/tripleo.sh
  devsetup/standalone/net_config.j2
  devsetup/tripleo/net_config.j2
  scripts/gen-netatt.sh
  scripts/gen-nncp.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

ipv6lab: clean up the work_dir
  devsetup/Makefile
  devsetup/scripts/ipv6-nat64/network.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

devsetup remove adoption scenario mentions
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/net_config.j2
Due: install-yamls-crc-podified-edpm-baremetal

Add missing services for Cell* roles for tripleo
  devsetup/tripleo/overcloud_roles.yaml
Due: none

Add rook_deploy target
  Makefile
  scripts/disk-setup.sh
  scripts/gen-rook-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add ceph deployment scripts
  devsetup/ceph/deploy.sh
  devsetup/ceph/rebuild_osd.sh
Due: none

devsetup remove adoption scenario mentions
  devsetup/Makefile
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/overcloud_net_config_scenario_a.j2
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

tripleo muilti-cell: conditionally use ext net
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
  devsetup/tripleo/config-download-multistack.j2
  devsetup/tripleo/tripleo_install.sh
Due: install-yamls-crc-podified-edpm-baremetal

Update Ceph container in TripleO for adoption
  devsetup/scripts/tripleo.sh
  devsetup/tripleo/ceph.sh
Due: install-yamls-crc-podified-edpm-baremetal

DNM test baremetal job with bootc image
  scripts/gen-edpm-baremetal-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add NMstate OLM CR name parameters
  Makefile
  scripts/gen-olm-nmstate.sh
Due: install-yamls-crc-podified-edpm-baremetal

Allow skipping install NMstate
  Makefile
Due: install-yamls-crc-podified-edpm-baremetal

Remove network agents on cleanup
  Makefile
  scripts/cleanup-edpm_deploy.sh
Due: install-yamls-crc-podified-edpm-baremetal

Set ansible vars on prep targets
  Makefile
  devsetup/edpm/config/ansible-ee-env.yaml
Due: install-yamls-crc-podified-edpm-baremetal

Update Ceph container in standalone for adoption
  devsetup/scripts/standalone.sh
  devsetup/standalone/ceph.sh
Due: install-yamls-crc-podified-edpm-baremetal, adoption-standalone-to-crc-ceph-provider, adoption-standalone-to-crc-no-ceph-provider

Add Keystone Federation secrets
  Makefile
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Add HeatStackDomainAdminPassword to osp-secret
  scripts/gen-input-kustomize.sh
Due: install-yamls-crc-podified-edpm-baremetal

Path conditions:
  install-yamls-crc-podified-edpm-baremetal: (any of: ^devsetup/Makefile, ^devsetup/edpm/config/*, ^devsetup/edpm/services/*, ^devsetup/scripts/*, ^devsetup/scripts/bmaas/*, ^devsetup/scripts/edpm-compute-bmaas.sh, ^devsetup/scripts/gen-ansibleee-ssh-key.sh, ^scripts/*, ^Makefile) and (unless all of: .ci-operator.yaml, .ansible-lint, .gitignore, .yamllint, .pre-commit-config.yaml, LICENSE, OWNERS, .*/*.md)
  adoption-standalone-to-crc-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
  adoption-standalone-to-crc-no-ceph-provider: any of: ^devsetup/Makefile, ^devsetup/scripts/standalone.sh, ^devsetup/scripts/common.sh, ^devsetup/standalone/*, ^zuul.d/projects.yaml
